.Card {
    background-color: #000000aa;
    z-index: 1;
    padding: 60px 60px 60px 68px;
    display: flex;
    flex-direction: row;
}

.RightCard {
    flex: 2;
    margin-left: 20px;
}

.UpperCard {
    text-align: left;
    margin-top: 35px;
}

.LeftCard {
    flex: 1;
}

.LowerCard {
    margin-top: 25px;
    text-align: left;
    font-size: 24px;
    font-weight: 200;
}

.CardTitleText {
    margin: 0;
    font-size: 80px;
    font-weight: 200;
    white-space: nowrap;
}

.Image {
    margin-top: 5vh;
    border-radius: 50%;
    width: 290px;
    height: 280px;
}

.Contact {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    height: 120px;
}

@media screen and (max-width: 1600px) {
    .CardTitleText {
        margin: 0;
        font-size: 60px;
        font-weight: 200;
    }
    
    .Image {
        margin-top: 5vh;
        border-radius: 50%;
        width: 220px;
        height: 210px;
    }
}

@media screen and (max-width: 1250px) {
    .CardTitleText {
        margin: 0;
        font-size: 45px;
        font-weight: 200;
    }

    .Image {
        margin-top: 5vh;
        border-radius: 50%;
        width: 190px;
        height: 180px;
    }
}

@media only screen and (max-width: 900px) {
    .Card {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .Card {
        padding: 0px;
        width: 375px;
    }

    .CardTitleText {
        text-align: center;
    }

    .LowerCard p {
        text-align: center;
        font-size: 22px;
    }

    .RightCard {
        margin: 0;
    }

    .Image {
        margin-bottom: 15px;
    }

    .Contact {
        justify-content: center;
    }    
}
